<% layout('layout/boilerplate') %>
<form action="/campgrounds" method="post">
  <div>
    <label for="title">Campground Name:</label>
    <input type="text" name="campground[title]" id="title" />
  </div>
  <div>
    <label for="location">Campground location:</label>
    <input type="text" name="campground[location]" id="location" />
  </div>
  <button>Add Campground</button>
</form>
